.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.logo{
  width: 100px;
}
.bi{
  margin-right: 10px;
}
.stories{
  height: 70px;
  padding: 10px;
}
.dp{
  height: 20px;
  width: 20px;
  /* border-radius: 50%; */
  margin-top: 5px;
  margin-right: 5px;
}
.post_image{
  width: 300px;
}
.suggestions h5{
  font-size: 16px;
}
.suggestions .dp{
  margin-top: 0px;
}

.gradient-border{
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);

}
.story_dp{
  width: 45px;
  height: 45px;

  
}